@model ElvenTales.Models.Character
<h2>Create Character</h2>
<form asp-action="Create" method="post">
<div class="form-group">
	<label>Character Name</label>
	<input asp-for="CharName" class="form-control" />
</div>
<div class="form-group">
	<label>Level</label>
	<input asp-for="Level" type="number" class="form-control" />
</div>
<div class="form-group">
	<label>Class</label>
	<input asp-for="Class" class="form-control" />
</div>

<div class="form-group">
	<label>Honour</label>
	<input asp-for="Honour" type="number" class="form-control" />
</div>
<button type="submit" class="btn btn-primary">Create Character</button>

</form>