@model ElvenTales.Models.User

<h2>Profile</h2>

<div class="card">
	<div class="card-body">
		<h3 class="card-title">@Model.Username's Profile</h3>

		<p><strong>Email:</strong>@Model.Email</p>
		<p><strong>Username:</strong>@Model.Username</p>
		<!-- Logout Button -->
		<form asp-action="Logout" asp-controller="Login" method="post">
			<button type="submit" class="btn btn-danger">Logout</button>
		</form>
		</div>
</div>
